{% extends "AcmePortfolioBundle::layout.html.twig" %}

{% if section is defined %}
    {% set body_class = 'body-' ~ section|lower %}
{% endif %}

{% block body %}
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-6">
                <h2>My projects</h2>
                <hr/>
                <div class="list-group">
                    {% for project in projects %}
                        <a class="list-group-item" href="{{ project.html_url }}" target="_blank">
                            <h4 class="list-group-item-heding">{{ project.name }}</h4>

                            <p class="list-group-item-text">
                                {{ project.language }}
                                <span class="label label-primary">{{ project.default_branch }}</span>
                            </p>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-xs-6">
                <h2>Skills</h2>
                <hr/>

                {% set skills = ['HTML', 'CSS', 'PHP', 'Symfony'] %}

                {% if skills|length > 0 %}
                    {{ skills|join(', ') }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}