{% block form_row %}
{% spaceless %}
    <div class="form-group{% if form.vars.errors|length > 0 %} has-error{% endif %}">
        {{ form_label(form, form.vars.label, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        <div class="col-sm-8">
            {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
            <span class="help-block">
                {{ form_errors(form) }}
            </span>
        </div>
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block date_widget %}
{% spaceless %}
    <div class="form-group{% if form.vars.errors|length > 0 %} has-error{% endif %}">
        <div class="col-sm-8">
            {{ form_widget(form.year, {'attr': {'class': 'form-control'}}) }}
            {{ form_widget(form.month, {'attr': {'class': 'form-control'}}) }}
            {{ form_widget(form.day, {'attr': {'class': 'form-control'}}) }}

            <span class="help-block">
                {{ form_errors(form) }}
            </span>
        </div>
    </div>
{% endspaceless %}
{% endblock date_widget %}
