{% extends "AcmePortfolioBundle::layout.html.twig" %}

{% if section is defined %}
    {% set body_class = 'body-' ~ section|lower %}
{% endif %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ post.slug }}</h1>
            <hr/>
            <ul>
                <li><b>id:</b> {{ attribute(post, 'id') }}</li>
                <li><b>date:</b> {{ post.date|date(format="Y-m", timezone="UTC") }}</li>
                <li><b>locale:</b> {{ post['locale'] }}</li>
                <li><b>rating:</b> {{ post.rating|round(0, 'ceil') }}</li>
                <li><b>description:</b> {{ post.description|title|raw }}</li>
            </ul>
        </div>
    </div>
{% endblock %}