<!DOCTYPE html>
<html>
    <head>
        <title>Symfony Tutorial</title>
        <link rel="stylesheet" href="{{ asset('bundles/acmeportfolio/css/bootstrap.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/acmeportfolio/css/main.css') }}"/>

        <script type="text/javascript" src="{{ asset('bundles/acmeportfolio/js/jquery-2.1.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/acmeportfolio/js/bootstrap.min.js') }}"></script>
    </head>
    <body{% if body_class is defined %} class="{{ body_class }}"{% endif %}>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">

                {{ knp_menu_render('AcmePortfolioBundle:Builder:mainMenu') }}

                {#
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('portfolio_home_index') }}">Home</a></li>
                    <li><a href="{{ path('portfolio_about_index') }}">About</a></li>
                    <li><a href="{{ path('portfolio_blog_index') }}">Blog</a></li>
                    <li><a href="{{ path('portfolio_contact_index') }}">Contact</a></li>
                </ul>
                #}
            </div>
        </nav>
        <div class="jumbotron">
            {% if section is defined %}
                <h1>{{ section }}</h1>
            {% endif %}
        </div>

        {% include "AcmePortfolioBundle::flash-messages.html.twig" %}

        <div class="container-fluid">
            {% block body %}

            {% endblock %}
        </div>
        {% block javascripts '' %}
    </body>
</html>
