{% extends "AcmeAdminBundle::layout.html.twig" %}

{% block body %}
    <div class="page-header">
        <h1>Category <small>{{ action }}</small></h1>
    </div>

    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.name) }}
    {{ form_end(form) }}
{% endblock %}
